.btn {
  border-radius: 5px;
  padding: 1.5vh 3vh;
  border: 1px solid gainsboro;
  cursor: pointer;
  margin: 2vh;
  margin-top: 4vh;
}

.btn:hover {
  border-radius: 5px;
  padding: 1.5vh 3vh;
  border: 1px solid gainsboro;
  background-color: gainsboro;
}
