.form-control {
  margin-bottom: 2vh;
  padding: 2vh;
  border-radius: 5px;
}

#addNewReviewForm > .form-control {
  background-color: rgba(245, 245, 245, 0.555);
}

.form-control > label,
legend {
  display: block;
  margin-bottom: 1vh;
  font-weight: bold;
  color: rgb(35, 35, 35);
}

.form-input,
.form-textarea,
select {
  border-radius: 5px;
  border: 2px gainsboro solid;
  padding: 1vh;
  width: 50%;
}

.form-control > fieldset {
  border: none 0;
  margin: 0;
  padding: 1vh 0;
}

.form-textarea {
  width: 98%;
}

.form-input:focus,
.form-textarea:focus,
select:focus {
  outline: none;
}

.form-input--invalid {
  border-color: crimson;
}

.form-errorMsg--invalid {
  color: crimson;
  display: inline-block;
  background-color: rgba(220, 20, 60, 0.075);
  padding: 2vh;
  margin-top: 2vh;
  border-radius: 5px;
}

.radioinput > div {
  padding-bottom: 1vh;
}

.radioinput > div > label {
  padding: 1vh;
}
